$pageBg: #fff;

/*$primaryButtonBg: #F25F5C;
$primaryButtonTxt: #FEFEFE;

$secondaryButtonBg: #FFE066;
$secondaryButtonTxt: #FEFEFE;*/




/*$primaryr: #000;*/
/*$secondary: #000;*/
$success: #008348;
/*$danger: #000;*/
/*$warning: #000;*/
/*$info: #000;*/
$yellow: yellow;


/*$text_dark: #000;*/
/*$text_muted: #000;*/
/*$text_white: #fff;*/


$header_bg: $success