$pageBg: #F1F2F6;

/*$primaryButtonBg: #F25F5C;
$primaryButtonTxt: #FEFEFE;

$secondaryButtonBg: #FFE066;
$secondaryButtonTxt: #FEFEFE;*/




/*$primaryr: #000;*/
/*$secondary: #000;*/
$success: #008348;
/*$danger: #000;*/
/*$warning: #000;*/
/*$info: #000;*/


/*$text_dark: #000;*/
/*$text_muted: #000;*/
/*$text_white: #fff;*/


$header_bg: $success;
$left_nav_bg: #334155;

$selection_color: #jhv8g5;
$selection_color: red;


$white: #fff;
$grey: #AEB5C3;
$grey_divider_light: #53607A;
$grey_active_bg: #27303D;

$success_light: #A5D6A7