@import "./Colors.scss";
@import "./Mixins.scss";
@import "./fontello/fontello.scss";
@import "./Gap.scss";
@import "./Typo.scss";


.d-none {
	display: none;
}

.d-block {
	display: block;
}

.d-inline-block {
	display: inline-block;
}

.d-flex {
	display: flex;
}

.d-inline-flex {
	display: inline-flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.justify-content-center {
	justify-content: center;
}

.align-items-center {
	align-items: center;
}

.ml-auto {
	margin-left: auto !important;
}

.list-inline {
	list-style: none;
}

ul, ol {
	padding: 0;
	margin: 0;
}

.x2 {
	@include tf(scale(0.5))
}

.Page-content {
	position: relative;
	padding-left: 161px;
}

.main {
	display: block;
	width: 100%;
	padding-right: 25px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}



