p {
	@include selection($success_light);
}

@include hd {
	font-family: 'Montserrat', sans-serif;
	@include fw(600);
	margin: 0;
	padding: 0;
	line-height: 1.4;
	@include selection($success_light);
}	

h4 {
	@include fz(18);
}

h6 {
	@include fz(14);
}

p {
	@include fz(14);
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
	&.bigger {
		@include fz(16);
	}
}

span {
	&.bigger {
		@include fz(16);
	}
}

