
.icon-calendar:before {
  font-family: "ft";
  content: '\e800';
} /* '' */
.icon-chat:before { content: '\e801'; } /* '' */
.icon-club:before { content: '\e802'; } /* '' */
.icon-command:before { content: '\e803'; } /* '' */
.icon-crm:before { content: '\e804'; } /* '' */
.icon-dashboard:before { content: '\e805'; } /* '' */
.icon-docs:before { content: '\e806'; } /* '' */
.icon-payment:before { content: '\e807'; } /* '' */
.icon-settings:before { content: '\e808'; } /* '' */
.icon-toggler:before { content: '\e809'; } /* '' */
.icon-tourney:before { content: '\e80a'; } /* '' */
.icon-user:before { content: '\e80b'; } /* '' */