
.ft-add-photo:before { content: '\e800'; } /* '' */
.ft-arrow-down-filled:before { content: '\e801'; } /* '' */
.ft-arrow-down:before { content: '\e802'; } /* '' */
.ft-arrow-left-filled:before { content: '\e803'; } /* '' */
.ft-arrow-right-filled:before { content: '\e804'; } /* '' */
.ft-arrow-up-filled:before { content: '\e805'; } /* '' */
.ft-block:before { content: '\e806'; } /* '' */
.ft-calendar-alt:before { content: '\e807'; } /* '' */
.ft-calendar:before { content: '\e808'; } /* '' */
.ft-camera:before { content: '\e809'; } /* '' */
.ft-cart:before { content: '\e80a'; } /* '' */
.ft-chat:before { content: '\e80b'; } /* '' */
.ft-check-round:before { content: '\e80c'; } /* '' */
.ft-close:before { content: '\e80d'; } /* '' */
.ft-club:before { content: '\e80e'; } /* '' */
.ft-command:before { content: '\e80f'; } /* '' */
.ft-comment:before { content: '\e810'; } /* '' */
.ft-dashboard:before { content: '\e811'; } /* '' */
.ft-crm:before { content: '\e812'; } /* '' */
.ft-desktop:before { content: '\e813'; } /* '' */
.ft-docs:before { content: '\e814'; } /* '' */
.ft-down:before { content: '\e815'; } /* '' */
.ft-edit:before { content: '\e816'; } /* '' */
.ft-exid-round:before { content: '\e817'; } /* '' */
.ft-filter:before { content: '\e818'; } /* '' */
.ft-info-round:before { content: '\e819'; } /* '' */
.ft-letter-open:before { content: '\e81a'; } /* '' */
.ft-load:before { content: '\e81b'; } /* '' */
.ft-mail-symbol:before { content: '\e81c'; } /* '' */
.ft-mob:before { content: '\e81d'; } /* '' */
.ft-eye:before { content: '\e81e'; } /* '' */
.ft-new-doc:before { content: '\e81f'; } /* '' */
.ft-new-file:before { content: '\e820'; } /* '' */
.ft-payment:before { content: '\e821'; } /* '' */
.ft-phone:before { content: '\e822'; } /* '' */
.ft-player:before { content: '\e823'; } /* '' */
.ft-plus-rounded:before { content: '\e824'; } /* '' */
.ft-plus:before { content: '\e825'; } /* '' */
.ft-question-round:before { content: '\e826'; } /* '' */
.ft-remove-round:before { content: '\e827'; } /* '' */
.ft-save:before { content: '\e828'; } /* '' */
.ft-search:before { content: '\e829'; } /* '' */
.ft-settings:before { content: '\e82a'; } /* '' */
.ft-toggler:before { content: '\e82b'; } /* '' */
.ft-skedule:before { content: '\e82c'; } /* '' */
.ft-tourney:before { content: '\e82d'; } /* '' */
.ft-user:before { content: '\e82e'; } /* '' */