@import "../../styles/General.scss";

.command-card {
	.card-logo {
		@extend .d-block;
		width: 100%;
		position: relative;
		overflow: hidden;
		z-index: 0;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		overflow: hidden;
		@include b {
			@include ct;
		}
		@include a {
			@include ct;
			position: absolute;
			top: 50%;
			bottom: 0;
			right: 0;
			left: 0;
			z-index: 2;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
		}
		img {
			position: absolute;
			z-index: 1;
			display: block;
			top: 50%;
			left: 50%;
			width: 100%;
			@include tf(translate(-50%, -50%));
		}

	}
	.players {
		i {
			@include fz(12);
			margin-right: 10px;
		}
		span {
			@include fz(14);
			@include fw(600);
		}
	}
}

.grid-view {
	.command-card {
		width: 266px;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
		@include r(5px);
		overflow: hidden;
		@extend .mb10;
		.card-logo {
			@include b {
				padding-top: 56%;
				background-color: $light_grey_bg;
			}

		}
		.main-info {
			position: absolute;
			z-index: 3;
			bottom: 0;
			left: 0;
			right: 0;
			padding-bottom: 9px;
			@include px(15px)
			@extend .d-flex;
			@extend .justify-content-between;
			@extend .align-items-baseline;
			* {
				color: $white;
			}
		}
		.players {
			@extend .d-flex;
			@extend .align-items-baseline;
		}
		.card-data {
			@extend .d-block;
			height: 95px;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
			background-color: $white;
		}

		.command-card-list {
			padding: 0;
			margin: 0;
			width: 100%;
			li {
				@include l {
					.command-card-item {
						border-bottom: none;
					}
				}
			}
		}
		.command-card-item {
			@extend .d-flex;
			@extend .align-items-center;
			min-height: 48px;
			width: 100%;
			border-bottom: 1px solid $grey;
			@include px(15px);
			@include py(5px);
			text-decoration: none;
			p, span {
				margin-bottom: 0;
			}
		}

	}
}

.list-view {
	.command-card {
		.card-logo {
			@include b {
			}

		}
	}
}