@import "../../styles/General.scss";

.header {
	margin: 0px;
	padding: 10px 25px;
	outline: none;
	border: none;
	background-color: $header_bg;
	.logo {
		@extend .d-block;
		@extend .ml20;
		img {
			@extend .d-block;
			max-width: 100%;
			width: 127px;
			height: auto;
			margin-top: 5px;
		}
	}
	.dropdown-nav {
		.dropdown-menu {
			@extend .d-none;
		}
		.dropdown-toggle {
			@include h {
				text-decoration: none;
			}
			@extend .d-flex;
			@extend .justify-content-center;
			@extend .align-items-center;
			@extend .flex-wrap;
			@extend .ml25;
			text-decoration: none;
			color: $white;
			.arrow {
				@extend .d-block;
				@include fz(8);
			}
		}
		.dropdown-item-col {
			@extend .d-inline-flex;
			@extend .flex-column;
			color: $white;
			h6 {
			}
			span {
				@include fz(12)
				@include fw(600)
				color: $success_light;
			}
		}
		.avatar-photo {
			@extend .d-block;
			width: 35px;
			height: 35px;
			@include r(50%);
			background-color: $grey;
			@extend .ml10;
			overflow: hidden;
			position: relative;
			img {
				position: absolute;
				top: 50%;
				left: 50%;
				@include tf(translate(-50%, -50%));
				&.x2 {
					@include tf(translate(-50%, -50%) scale(0.5));
				}
			}
		}
		.club-logo {
			@extend .ml10;
			i {
				@include fz(26)
				line-height: 1.2;
			}
		}
		.arrow-wrap {
			@extend .ml10;
		}
	}
	.nav-toggler {
		color: $white;
	}
}

.header-left {
	@extend .d-inline-flex;
	@extend .justify-content-center;
	@extend .align-items-center;
}

.header-right {
	@extend .ml-auto;
}

.header-nav {
	@extend .list-inline;
	li {
		@extend .d-inline-flex;
		@extend .flex-column;
	}
}

